<%- include("_header"); -%>
    <br>
    <br>
    <style>
        body {
            background: url('https://cdn.discordapp.com/attachments/1093803444130811906/1150013094769209466/1.jpg') no-repeat;
            background-size: cover;
        }

        .city {
            background-color: rgba(255, 255, 255, 0.8);
            color: #000;
            border: 2px solid #fff;
            margin: 20px;
            padding: 20px;
            border-radius: 15px;
            /* เพิ่มกรอบรอบรายละเอียด */


        }
    </style>
    <div class="city">

        <h1 align="center">Edit</h1>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 d-flex justify-content-center">
                    <form method="post" action="/editreserve/<%= data.id %>" class="w-50">
                        <label for="roomname">ชื่อห้อง</label>
                        <select class="form-control" id="roomname" name="roomname">
                            <option value="">กรุณาเลือก</option>
                            <% for (var i=0; i < data1.length; i++) { %>
                                
                                <option value="<%= data1[i].id %>" <% if (data.roomname===data1[i].name) { %>selected
                                    <% } %>>
                                        <%= data1[i].name %>
                                </option>
                                <% } %>
                                
                        </select>



                        <div class="form-group">
                            <label for="name">ชื่อผู้จอง</label>
                            <input type="text" Name="name" placeholder="ชื่อ" class="form-control"
                                value="<%= data.name %>">
                        </div>


                        <div class="form-group">
                            <label for="phone">เบอร์โทร</label>
                            <input type="text" Name="phone" placeholder="เบอร์โทร" class="form-control"
                                value="<%= data.phone %>">
                        </div>


                        <div class="form-group">
                            <label for="usedfor">จำนวนคนที่มาประชุม</label>
                            <input type="text" Name="usedfor" placeholder="จำนวนคนที่มาประชุม" class="form-control"
                                value="<%= data.usedfor %>">
                        </div>

                        <div class="form-group">
                            <label for="position">ตำแหน่ง</label>
                            <input type="text" Name="position" placeholder="ตำแหน่ง" class="form-control"
                                value="<%= data.position %>">
                        </div>


                        <div class="form-group">
                            <label for="affiliation">สังกัด/งาน/ฝ่าน</label>
                            <input type="text" Name="affiliation" placeholder="สังกัด/งาน/ฝ่าน" class="form-control"
                                value="<%= data.affiliation %>">
                        </div>

                        <div class="form-group">
                            <label for="group_name">คณะ/สำนัก/สถาบัน</label>
                            <input type="text" Name="group_name" placeholder="คณะ/สำนัก/สถาบัน" class="form-control"
                                value="<%= data.group_name %>">
                        </div>



                        <div class="form-group">
                            <label for="group">เพื่อ</label>
                            <input type="text" Name="to_name" placeholder="อธิบาย" class="form-control"
                                value="<%= data.to_name %>">
                        </div>

                        <br>
                        <div class="form-group">
                            <label for="startdatetime">วันที่เริ่ม</label>
                            <input type="datetime-local" name="startdatetime" id="startdatetime" class="form-control"
                                value="<%= data.startdatetime %>">

                            <span id="startDatetimeError" class="error"></span> <!-- เพิ่มส่วนแสดงข้อความแจ้งเตือน -->
                        </div>

                        <div class="form-group">
                            <label for="enddatetime">วันที่สิ้นสุด</label>
                            <input type="datetime-local" name="enddatetime" id="enddatetime" class="form-control"
                                value="<%= data.enddatetime %>">

                            <span id="endDatetimeError" class="error"></span> <!-- เพิ่มส่วนแสดงข้อความแจ้งเตือน -->
                        </div>


                        <div class="form-group">
                            <label for="equipment">อุปกรณ์ที่ขอยืม</label>
                            <input type="text" Name="equipment" placeholder="อุปกรณ์ที่ขอใช้" class="form-control"
                                value="<%= data.equipment %>">
                        </div>

                        <br>

                        <br>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                        <a href="/reserve/list" class="btn btn-primary">ย้อนกลับ</a>
                    </form>
                    <br>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                const roomname = document.querySelector('#roomname').value;
                const name = document.querySelector('[name="name"]').value;
                const phone = document.querySelector('[name="phone"]').value;
                const usedfor = document.querySelector('[name="usedfor"]').value;
                const startdatetime = document.querySelector('[name="startdatetime"]').value;
                const enddatetime = document.querySelector('[name="enddatetime"]').value;
    
                if (!roomname || !name || !phone || !usedfor || !startdatetime || !enddatetime) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Incomplete Form',
                        text: 'Please fill in all required fields except for equipment.',
                    });
                }
            });
        });
    </script>
    
    <%- include("_footer"); -%>